<!DOCTYPE html>
<html  ng-app="listaTelefonica" lang="pt-br" >
<head>
  <title>Lista Telefonica</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
  <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
  <link rel="stylesheet" href="assets/app.css"/>
  <link rel="stylesheet" href="assets/bootstrap.min.css">
  <script src="./bower_components/angular/angular.js"></script>
  <script src="./bower_components/angular-animate/angular-animate.js"></script>
  <script src="./bower_components/angular-aria/angular-aria.js"></script>
  <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>
  <script>
  angular.module('listaTelefonica', ['ngMaterial']);
  angular.module('listaTelefonica').controller('listaTelefonicaCtrl', function($scope){
    $scope.app = "Lista Telefônica";
    $scope.contatos = [
      {nome: "Pedro", telefone: "99999-8888"},
      {nome: "Ana", telefone: "77558-5222"},
      {nome: "Paula", telefone: "95588-8877"},
      {nome: "Roberto", telefone: "98877-8845"}
    ];
    $scope.operadoras = [
      {nome: "OI", codigo: 31, categoria: "Celular"},
      {nome: "VIVO", codigo: 14, categoria: "Celular"},
      {nome: "TIM", codigo: 41, categoria: "Celular"},
      {nome: "GVT", codigo: 25, categoria: "Fixo"},
      {nome: "EMBRATEL", codigo: 21, categoria: "Fixo"}
    ];
    $scope.adicionarContato = function(contato) {
      $scope.contatos.push(angular.copy(contato));
      delete $scope.contato;
    };
  });
  </script>
</head>

<body ng-controller="listaTelefonicaCtrl">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Settings">
        <md-icon md-svg-icon="assets/svg/menu.svg"></md-icon>
      </md-button>
      <h2>
        <span>Angular JS</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Favorite">
        <md-icon md-svg-icon="assets/svg/phone.svg" style="color: greenyellow;"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="More">
        <md-icon md-svg-icon="assets/svg/share.svg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <br>
  <md-content class="layout-padding ng-scope flex">
    <md-whiteframe class="md-whiteframe-7dp" flex="grow" layout layout-align="center center" ng-cloak>
      <md-list class="well">
        <md-subheader class="md-no-sticky"><h3>{{app}}</h3></md-subheader>
        <md-list-item>
          <br />
          <table class="table">
            <thead>
              <th></th>
              <th>Nome</th>
              <th>Telefone</th>
              <th>Operadora</th>
            </thead>
            <tbody>
              <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
                <td><input type="checkbox" ng-model="contato.selecionado"></td>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
              </tr>
            </tbody>
          </table>
          <hr/>
        </md-list-item>
        <md-subheader class="md-no-sticky"><h4>Cadastrar</h4></md-subheader>
        <md-list-item>
          <md-content layout-padding >
            <md-input-container>
              <label>Nome</label>
              <input ng-model="contato.nome">
            </md-input-container>
            <md-input-container>
              <label>Telefone</label>
              <input ng-model="contato.telefone">
            </md-input-container>
            <md-input-container>
              <md-button class="md-raised" ng-disabled="!contato.nome || !contato.telefone || !contato.operadora" ng-click="adicionarContato(contato)">Adicionar</md-button>
            </md-input-container>
          </md-content>
        </md-list-item>
          <md-input-container class="md-block">
            <label>Operadora</label>
            <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
                <option value="">Selecione uma operadora</option>
            </select>
            <!-- Segundo a documentação do angular o ng-options é mais eficiente do que o np-repeat
           como a redução da memória e aumento da velocidade por não criar um novo escopo para cada instância repetida
           -->
            <!-- <md-select ng-model="contato.operadora">
              <md-option ng-repeat="operadora in operadoras" value="{{operadora.nome}}">{{operadora.nome}}</md-option>
            </md-select> -->
          </md-input-container>
      </md-list>
    </md-whiteframe>
  </body>
  </html>
