body {
	font-size: 12px;
	padding-top: 5px;
    padding-bottom: 60px;
}
.table-hover > tbody > tr:hover {
  background-color: #afecaf;
}

div > img {
	width: 201px;
	height: 160px;
}

.logo {
	width: 15%;
	height: 20%;
}
.page-header {
    padding-bottom: 9px;
    margin: 10px 0 15px;
}

@media (min-width: 768px) {
    .form-inline .form-horizontal .radio input[type="radio"], 
    .form-inline .form-horizontal .checkbox input[type="checkbox"] {
        float: left;
        margin-right: 5px;
    }
}

.checkbox label {
        float: left;
        margin-right: 5px;
}

input[type="checkbox"], input[type="radio"] {
    margin: -2px 0px 0px;
    line-height: normal;
}